.padding {
    padding-left: 60px;
    padding-top: 70px;
    margin: 0;
}


.color {color:white;}


.size {font-size:40px;}


.pad {padding-left: 30px;}



.top {
       
       padding-top: 60px;
       text-align: center;
       margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-right: 50px;
    overflow: hidden;
    background-color: #361406;
  }
  
  li {
    float:right;
  }
  
  li a {
    display: block;
    color:white;
    text-align: center;
    font-size: 25px;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color:black;
  }


/* Contacts Page */

body {
  font-family: "Roboto";
  background-color:#361406;
  text-align: center;
  color:#361406 ;
  font-size: 28px;
}

a {
  color:#361406;
}

.share {
  position: absolute;
  width: 400px;
  left: 50%;
  margin-left: -200px;
  top: 50%;
  margin-top: -40px;
  border-radius: 80px;
}
.share span {
  width: 200px;
  line-height: 80px;
  display: inline-block;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  margin-left: -100px;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
}
.share nav {
  font-size: 0;
}
.share a {
  line-height: 80px;
  width: 80px;
  text-align: center;
  display: inline-block;
  background-color:#ffff00;
  color:#ffff00;
  overflow: hidden;
  opacity: 1;
  transition: all 0.3s ease-in-out;
  margin: 0 -20px;
  box-shadow: 3px 1px 3px rgba(0, 0, 0, 0.1);
}
.share a:nth-child(1) {
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  margin-left: 0;
}
.share a:nth-child(1):hover {
  background-color:#3B5998;
}
.share a:nth-child(2):hover {
  background-color:#61c5ec;
}
.share a:nth-child(3):hover {
  background-color:#ff0000;
}
.share a:nth-child(4) {
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  margin-right: 0;
}
.share a:nth-child(4):hover {
  background-color:white;
}
.share:hover span, .share.hover span {
  opacity: 0;
}
.share:hover a, .share.hover a {
  border-radius: 50%;
  margin: 0 10px;
  color:#361406;
  font-size: 28px;
}
.share:hover a:hover, .share.hover a:hover {
  color:;
}





  